<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>X4Sbz4FY44t9PTFZ6tXkQlEs1ALIErGoaNPxIGszIr2+WbFd58rfW8phFEz1Y3XjKpnsYFAESr6qB7T3/qvqwzN46ksW9M784bdjKTVeM4g6cQ7jishBH+QXsfsN/esFKd5YYuSEdxxNDTADX/7feLpvozFsjQ7HICj3Vp1vezs=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>1P++7GlOtbQ3TMQN2NqbLYvFJgO/dB+PZodI9szsRzgzneAIBGvoXlr5fuyV79TsLNSYpIR4IQgjQkkHtzZsXdWiZa9Vv1Kgxd8dEaq8DIkAVntf08xBnZlhFT04Kuti+PtuxEde3xiNcdjFNN/awpHQxxb8XmhaiBVByrue5GBjrlxViCIuLuXhcGjjnSDSdyG4onosnKBvK8wH4erflh5BoxXOBFNE</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>