<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings configProtectionProvider="CustomProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>nNSM8IbSf15jc9k18mTbIZ4wgUL+lxqJSeHV0iwFbL7IfQ6pu3q54NujHNcBploaxRc9mopNIcx3qUu5yoLMYDpb6L2U6d80+DZ7Q2wpo8jgdwjvOgls8BMw7tSO/ArojpSxCcf4EkzOvKeFeIwkNAqJHl0E6kEnbFOv2WGDcSA=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>xdqCicG+CWLa+VTjE+yPQgVH5bVtr6wHqB1ryprFF+8ljKgD5RseKt3OTzk8jZweCji850Lvp/1NzDqqqrSMDGlHm6JPvh4MtdSbSxQqMMCZKtvehhCCgdTBimROEsDpqVz2v16PKnN1LFgKhqUIYLez7nZgiXDUHjGSj6TRjDxXaq27cIQpE4cHuQ1S2SafWEbCnjHqHzUlBB64WmItlQnaKzdjkQ9p</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
<configProtectedData>
  <providers>
  <add keyContainerName="CustomKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="CustomProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </providers>
</configProtectedData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
